APP_PORT=
APP_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_URL=
DB_HOST=
DB_PORT=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=
ENCRYPTION_KEY=
IV=
PRIVATE_KEY_PATH=
CERTIFICATE_PATH=