APP_PORT=
APP_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_URL=
DB_HOST=
DB_PORT=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=
ENCRYPTION_KEY=
IV=

CLIENT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_PASS=
REDIS_URI=

SADMIN_EMAIL=
SADMIN_PASSWORD=

ADMIN_EMAIL_HOST=
ADMIN_EMAIL=
ADMIN_EMAIL_IMAP_PASS=

LIQPAY_PUBLIC_KEY=
LIQPAY_PRIVATE_KEY=

ELIBRI_PUBLIC_KEY=
ELIBRI_PRIVATE_KEY=